@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

ol, ul {
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

body {
    min-height: 100vh;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 0.875rem;
    margin: 0;

    align-items: stretch;
    display: flex;
    flex-direction: column;
}

body > .header > .menu {
    padding: 0.625rem 1.625rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

body > .header > .menu > .stretch {
    flex-grow: 1;
}

body > .header > .menu > .item > .link {
    color: #1f1f1f;
    text-decoration: none;
}

body > .header > .menu > .item > .link:hover {
    text-decoration: underline;
}

body > .header > .menu > .item > .apps {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .header > .menu > .item > .apps:hover {
    background-color: #f0f1f1;
}

body > .header > .menu > .item > .apps > .icon {
    height: 55%;
}

body > .header > .menu > .item > .apps > .checkbox {
    display: none;
}

body > .header > .menu > .item > .apps > .tooltip {
    top: calc(100% + 0.25rem);
    left: 50%;
    background-color: #505456;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 0.8rem;
    opacity: 0;
    padding: 0.25rem 0.375rem;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
}

body > .header > .menu > .item > .apps:hover > .tooltip {
    opacity: 1;
    transition-delay: 350ms;
}

body > .header > .menu > .item > .apps-menu {
    top: 3.75rem;
    right: 1.625rem;
    width: 21.875rem;
    height: 28.75rem;
    background-color: #e9eef6;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.875rem 0.0625rem #21212150;
    box-sizing: border-box;
    display: none;
    padding: 0.5rem;
    position: fixed;
    z-index: 1;
}

body > .header > .menu > .item > .apps:has(.checkbox:checked) + .apps-menu {
    display: block;
}

body > .header > .menu > .item > .apps-menu > .list {
    width: 100%;
    height: 100%;
    background-color: #f8fafd;
    border-radius: 1.25rem;
    box-sizing: border-box;
    padding: 2rem;

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link {
    border-radius: 1rem;
    color: inherit;
    padding: 0.5rem 0;
    text-decoration: none;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link:hover {
    background-color: #e9eef6;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link > .icon {
    width: 3.3125rem;
    height: 3.3125rem;
    background-image: url("https://ssl.gstatic.com/gb/images/sprites/p_2x_28bb260b235a.png");
    background-size: 100%;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link.account > .icon {
    background-position-y: -14.5rem;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link.search > .icon {
    background-position-y: -137.75rem;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link.map > .icon {
    background-position-y: -94.25rem;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link.youtube > .icon {
    background-position-y: -166.75rem;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link.news > .icon {
    background-position-y: -50.75rem;
}

body > .header > .menu > .item > .apps-menu > .list > .item > .link.gmail > .icon {
    background-position-y: -126.875rem;
}

body > .header > .menu > .item > .login-button {
    color: #ffffff;
    background-color: #0c58d0;
    border-radius: 999rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition-duration: 125ms;
    transition-property: background-color, box-shadow;
    transition-timing-function: ease;
}

body > .header > .menu > .item > .login-button:hover {
    background-color: #1f65d4;
    box-shadow: 0 0.1rem 0.1rem 0.0625rem #21212175;
}

body > .main {
    flex-grow: 1;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    justify-content: center;
}

body > .main > .search-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    justify-content: center;
}

body > .main > .search-form > .label {
    width: 36.5rem;
    border: 0.0625rem solid #dadce0;
    border-radius: 999rem;
    box-shadow: 0 0 0.5rem 0.0625rem #21212125;
    padding: 0 0.875rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

body > .main > .search-form > .label:hover,
body > .main > .search-form > .label:focus-within {
    border: 0.1rem solid #f0f0f0;
}

body > .main > .search-form > .label > .icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: #9aa0a6;
}

body > .main > .search-form > .label > .input {
    height: 2.75rem;
    border: none;
    flex-grow: 1;
    font: inherit;
    outline: none;
}

body > .main > .search-form > .label > .feature {
    cursor: pointer;
}

body > .main > .search-form > .label > svg.feature {
    height: 1.5rem;
}

body > .main > .search-form > .button-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
}

body > .main > .search-form > .button-container > .button {
    background-color: #f8f9fa;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    color: #424242;
    cursor: pointer;
    padding: 0.5rem 0.925rem;
}

body > .main > .search-form > .button-container > .button:hover {
    border: 0.0625rem solid #dadce0;
    color: #212121;
}

body > .footer {
    background-color: #f2f2f2;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/
}

body > .footer > .line {
    padding: 0.925rem 1.875rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: flex-start;
}

body > .footer > .line + .line {
    border-top: 0.0625rem solid #dadce0;
}

body > .footer > .line > .item > .link {
    color: inherit;
    text-decoration: none;
}

body > .footer > .line > .item > .link:hover {
    text-decoration: underline;
}

body > .footer > .line > .stretch {
    flex-grow: 1;
}

body > .footer > .line > .item > .link.setting {
    cursor: pointer;
}

body > .footer > .line > .item > .link.setting > .checkbox {
    display: none;
}