@import "./test.css";

#root {
    width: 100%;
    height: 100%;
    mix-blend-mode: exclusion;
    background-image: url("worn-dots.png");
    background-color: black;
    background-position: center;
    background-repeat: repeat;
    position: absolute;
}

#root::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    pointer-events: none;
    z-index: -1;
}

#root > .footer {
    color: blue;
    width: 100%;
    height: 100%;
    mix-blend-mode: exclusion;
    background-image: inherit;
    background-color: inherit;
    background-position: inherit;
    background-repeat: inherit;
}